<app-frame-container>
	<h1 class="display-3 text-center" translate="REGISTRATION_PAGE.TITLE"></h1>
	<form [formGroup]="form" (submit)="submit()">
		<app-input-form-group
			[field]="firstName"
			label="LABEL.FIRST_NAME"
			[group]="form"
			name="firstName"
			controlName="firstName"
		>
		</app-input-form-group>
		<app-input-form-group
			[field]="middleName"
			label="LABEL.MIDDLE_NAME"
			[group]="form"
			name="middleName"
			controlName="middleName"
		>
		</app-input-form-group>
		<app-input-form-group
			[field]="lastName"
			label="LABEL.LAST_NAME"
			[group]="form"
			name="lastName"
			controlName="lastName"
		>
		</app-input-form-group>
		<app-date-picker-form-group
			[field]="birthday"
			label="LABEL.BIRTHDAY"
			[group]="form"
			name="birthday"
			controlName="birthday"
		>
		</app-date-picker-form-group>

		<app-input-form-group
			[field]="email"
			label="LABEL.EMAIL"
			[group]="form"
			name="email"
			controlName="email"
		>
		</app-input-form-group>

		<app-input-password-form-group
			[field]="password"
			label="LABEL.PASSWORD"
			[group]="form"
			name="password"
			controlName="password"
		></app-input-password-form-group>

		<div class="form-group">
			<app-input-checkbox
				[field]="isAllowed"
				label="LABEL.PERSONAL_DATA"
				[group]="form"
				name="isAllowed"
				controlName="isAllowed"
			>
			</app-input-checkbox>
		</div>

		<div class="form-group row">
			<div class="col-auto">
				<a
					routerLink="/authentication/forgot-password"
					translate="LINK.FORGOTTEN_PASSWORD"
				></a>
			</div>
			<div class="col-auto ml-auto">
				<a routerLink="/authentication" translate="LINK.LOG_IN"></a>
			</div>
		</div>

		<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
		<div *ngIf="success" class="alert alert-success">{{ success }}</div>
		<div class="text-center">
			<button
				class="btn btn-primary"
				type="submit"
				translate="BUTTON.SUBMIT"
			></button>
		</div>
	</form>
</app-frame-container>
