<app-frame-container>
	<h1 class="display-3 text-center" translate="RESET_PASSWORD_PAGE.TITLE"></h1>
	<div *ngIf="!isError">
		<form [formGroup]="form" (submit)="submit()">
			<app-input-password-form-group
				[field]="password"
				label="LABEL.PASSWORD"
				[group]="form"
				name="password"
				controlName="password"
			></app-input-password-form-group>

			<div class="form-group row">
				<div class="col-auto">
					<a routerLink="/authentication" translate="LINK.LOG_IN"></a>
				</div>
				<div class="col-auto ml-auto">
					<a
						routerLink="/authentication/registration"
						translate="LINK.REGISTRATION"
					></a>
				</div>
			</div>

			<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
			<div *ngIf="success" class="alert alert-success">{{ success }}</div>
			<div class="text-centr">
				<button
					class="btn btn-primary"
					type="submit"
					translate="BUTTON.SUBMIT"
				></button>
			</div>
		</form>
	</div>
	<div *ngIf="isError">
		<p translate="RESET_PASSWORD_PAGE.ERROR"></p>
	</div>
</app-frame-container>
